@use "../abstracts";

// The file contains styles for the default theme (e.g. light mode)

body.default-theme {
  background-color: abstracts.$background-color;
  color: abstracts.$text-color;

  a {
    color: abstracts.$primary-color;
  }

  .header {
    background-color: abstracts.$primary-color;
  }
}
