.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__brand {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__action {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__user {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
