<header class="header">
  <div class="header__brand">
    <img
      src="../../../../assets/logo/cloud_logo.svg"
      placeholder="cloud logo"
      height="30"
      width="30"
      class="header__brand__logo"
    />
    <p class="header__brand__title">Google Drive</p>
  </div>
  <div class="header__search">
    <img
      src="../../../../assets/icons/search-drive.svg"
      placeholder="search"
      height="20"
      width="20"
    />
    <input type="text" placeholder="Search Drive..." />
  </div>
  <div class="header__action">
    <img
      src="../../../../assets/icons/notifications.svg"
      placeholder="notifications"
      height="20"
      width="20"
    />
    <img
      src="../../../../assets/icons/help.svg"
      placeholder="help"
      height="20"
      width="20"
    />
    <img
      src="../../../../assets/icons/settings.svg"
      placeholder="settings"
      height="20"
      width="20"
    />
  </div>
  <div class="header__user">
    <p>Alexander</p>
    <button type="button">A</button>
  </div>
  <div class="header__menu">
    <img
      src="../../../../assets/icons/menu.svg"
      placeholder="menu"
      height="20"
      width="20"
    />
  </div>
</header>
