@use "../abstracts";

/* A basic CSS reset */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Set base font family and background color */
body {
  font-family: abstracts.$font-family-base;
  background-color: abstracts.$background-color;
  color: abstracts.$text-color;
  line-height: abstracts.$line-height-base;
}
