@use "../abstracts";

// The file contains styles specific to the home page

.home-page {
  .hero {
    background-color: abstracts.$secondary-color;
    padding: abstracts.$spacing-unit * 4;
    text-align: center;

    h1 {
      color: white;
    }

    p {
      color: white;
    }
  }

  .features {
    display: flex;
    justify-content: space-around;
    padding: abstracts.$spacing-unit * 4;

    .feature {
      text-align: center;

      h3 {
        margin-bottom: abstracts.$spacing-unit;
      }
    }
  }
}
