@use "../abstracts";

// The file contains styles related to the header section of your layout

.header {
  background-color: abstracts.$primary-color;
  padding: abstracts.$spacing-unit * 2;
  color: white;

  .header__logo {
    font-weight: bold;
  }

  .header__nav {
    ul {
      list-style: none;
      display: flex;
      gap: abstracts.$spacing-unit * 2;
    }

    li {
      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: lighten(white, 20%);
        }
      }
    }
  }
}
