@use "../abstracts";

// The file contains stlyes specific to button components

.button {
  background-color: abstracts.$primary-color;
  color: white;
  padding: abstracts.$spacing-unit * 2 abstracts.$spacing-unit * 4;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken(abstracts.$primary-color, 10%);
  }

  &--secondary {
    background-color: abstracts.$secondary-color;

    &:hover {
      background-color: darken(abstracts.$secondary-color, 10%);
    }
  }
}
